.cardtext{
    font-size: 1.3vw;
    font-weight: 600;
}

.card{
    width: auto;
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
    // height: auto;
}

.settingtext{
    width: auto;
    // margin-top:4%;
    margin-left: 4%;
    // height: 6vh;
    font-weight: 400;
    font-size: 3vw;
}