.logo{
    width: 100%; 
    height: 80px;
}


mat-sidenav{
    width: 20%;
}

.buttondiv{
    height: 80px;  
    margin-top: 2%;
}

.but{
    width: 100%; 
    height: 100%;
    border-radius: 0%;
    background-color: rgb(207, 228, 255);
    // position: absolute;
    // border-left: 5px solid transparent;
}

.but:hover{
    border-right: 5px solid green;
}

.content{
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
}

.assets{
    width: 33%;
}

.text{
    // font-family: Arial, Helvetica, sans-serif;
    // font-weight: 600;
    font-size: 16px;
}

img{
    width: 60%;
}